
<%-include("./partials/head")%>

<main class="container error">

  <h1>Error</h1>

  <article>

    <h2><%= title ? title : "Sin Título"%></h2>
    
    <p><%= description ? description : "Sin Descripción..."%></p>

  </article>

</main>

<%-include("./partials/foot")%>