

<!-- productos -->
<main class="main-container">

  <section class="shop container">

    <!-- buscador -->
    <aside class="">

      <form action="" class="form">

        <div class="form__col">
          <label class="form__label" for="buscar_producto">BUSCAR</label>
          <input class="form__control" type="text" id="buscar_producto" name="buscar" placeholder="item o categoría">
        </div>

        <div class="form__col">

          <label class="form__label" for="ordenar_producto">ORDENAR</label>

          <select class="form__control" name="ordenar" id="ordenar_producto">
            <option value="mayor">Alfabético A-Z</option>
            <option value="mayor">Alfabético Z-A</option>
            <option value="mayor">Precio de Mayor a Menor</option>
            <option value="menor">Precio de Menor a Mayor</option>
          </select>

        </div>

        <div class="form__col">

          <label>PRECIO</label>

          <div class="form__row">
            <label class="form__label" for="precio_minimo_producto">MIN</label>
            <input class="form__control" type="number" name="precio_minimo" id="precio_minimo_producto" min="1" placeholder="0">
            <span class="separate-1">-</span>
            <label class="form__label" for="precio_maximo_producto">MAX</label>
            <input class="form__control" type="number" name="precio_maximo" id="precio_maximo_producto" min="1" placeholder="0">
          </div>

        </div>

        <div class="form__col">
          
          <label>FILTRAR</label>

          <ul class="check__list">
            <li class="check__item">
              <input class="form__control" type="checkbox" name="nuevo" id="filtrar_producto_nuevo">
              <label class="form__label" for="filtrar_producto_nuevo">NUEVOS</label>
            </li>
            <li class="check__item">
              <input class="form__control" type="checkbox" name="oferta" id="filtrar_producto_oferta">
              <label class="form__label" for="filtrar_producto_oferta">OFERTAS</label>
            </li>
            <li class="check__item">
              <input class="form__control" type="checkbox" name="edicion" id="filtrar_producto_edicion">
              <label class="form__label" for="filtrar_producto_edicion">EDICIÓN ESPECIAL</label>
            </li>
            <li class="check__item">
              <input class="form__control" type="checkbox" name="favorito" id="filtrar_producto_favorito">
              <label class="form__label" for="filtrar_producto_favorito">FAVORITOS</label>
            </li>
          </ul>
        </div>

      </form>

    </aside>      

    <!-- articulos por producto -->
    <section class="pagination separate-1">

      <!-- Grilla de 3 x 3 -->
      <ul class="pagination__list">

        <li class="pagination__item">
          
          <article class="card">
            <a class="card__link" href="">

              <picture class="card__cover">
                <span class="card__tag">Nuevo</span>
                <img class="card__img--front" src="../../Api/img/star-wars/trooper-1.webp" alt="Figura Coleccionable Funko de un Stormtrooper">
                <img class="card__img--back" src="../../Api/img/star-wars/trooper-box.webp" alt="Figura Coleccionable Funko de un Stormtrooper en caja">
              </picture>

              <div class="card__content">
                <p class="card__licence">STAR WARS</p>
                <h4 class="card__name">STORMTROOPER LIGHTSABER</h3>
                <p class="card__price">$ 1.799,99 -</p>
                <p class="card__promo">3 Cuotas sin Interés</p>
              </div>

            </a>
          </article>
        </li>

        <li class="pagination__item">
          
          <article class="card">

            <a class="card__link" href="">

              <picture class="card__cover">
                <span class="card__tag">Nuevo</span>
                <img class="card__img--front" src="../../Api/img/pokemon/pidgeotto-1.webp" alt="Figura Coleccionable Funko del Pokemon Pidgeotto">
                <img class="card__img--back" src="../../Api/img/pokemon/pidgeotto-box.webp" alt="Figura Coleccionable Funko del Pokemon Pidgeotto en caja">
              </picture>

              <div class="card__content">
                <p class="card__licence">POKEMON</p>
                <h4 class="card__name">PIDGEOTTO</h3>
                <p class="card__price">$ 1.799,99 -</p>
                <p class="card__promo">3 Cuotas sin Interés</p>
              </div>

            </a>

          </article>
        </li>

        <li class="pagination__item">
          
          <article class="card">

            <a class="card__link" href="">

              <picture class="card__cover">
                <span class="card__tag">Nuevo</span>
                <img class="card__img--front" src="../../Api/img/harry-potter/luna-1.webp" alt="Figura Coleccionable Funko del Personaje Luna con Máscara de Leon en la Serie de Harry Potter">
                <img class="card__img--back" src="../../Api/img/harry-potter/luna-box.webp" alt="Figura Coleccionable Funko del Personaje Luna con Máscara de Leon en la Serie de Harry Potter en caja">
              </picture>

              <div class="card__content">
                <p class="card__licence">HARRY POTTER</p>
                <h4 class="card__name">LUNA LOVEGOOD LION MASK</h3>
                <p class="card__price">$ 1.799,99 -</p>
                <p class="card__promo">3 Cuotas sin Interés</p>
              </div>

            </a>

          </article>
        </li>

        <li class="pagination__item">
          
          <article class="card">
            <a class="card__link" href="">

              <picture class="card__cover">
                <span class="card__tag">Nuevo</span>
                <img class="card__img--front" src="../../Api/img/star-wars/trooper-1.webp" alt="Figura Coleccionable Funko de un Stormtrooper">
                <img class="card__img--back" src="../../Api/img/star-wars/trooper-box.webp" alt="Figura Coleccionable Funko de un Stormtrooper en caja">
              </picture>

              <div class="card__content">
                <p class="card__licence">STAR WARS</p>
                <h4 class="card__name">STORMTROOPER LIGHTSABER</h3>
                <p class="card__price">$ 1.799,99 -</p>
                <p class="card__promo">3 Cuotas sin Interés</p>
              </div>

            </a>
          </article>
        </li>

        <li class="pagination__item">
          
          <article class="card">

            <a class="card__link" href="">

              <picture class="card__cover">
                <span class="card__tag">Nuevo</span>
                <img class="card__img--front" src="../../Api/img/pokemon/pidgeotto-1.webp" alt="Figura Coleccionable Funko del Pokemon Pidgeotto">
                <img class="card__img--back" src="../../Api/img/pokemon/pidgeotto-box.webp" alt="Figura Coleccionable Funko del Pokemon Pidgeotto en caja">
              </picture>

              <div class="card__content">
                <p class="card__licence">POKEMON</p>
                <h4 class="card__name">PIDGEOTTO</h3>
                <p class="card__price">$ 1.799,99 -</p>
                <p class="card__promo">3 Cuotas sin Interés</p>
              </div>

            </a>

          </article>
        </li>

        <li class="pagination__item">
          
          <article class="card">

            <a class="card__link" href="">

              <picture class="card__cover">
                <span class="card__tag">Nuevo</span>
                <img class="card__img--front" src="../../Api/img/harry-potter/luna-1.webp" alt="Figura Coleccionable Funko del Personaje Luna con Máscara de Leon en la Serie de Harry Potter">
                <img class="card__img--back" src="../../Api/img/harry-potter/luna-box.webp" alt="Figura Coleccionable Funko del Personaje Luna con Máscara de Leon en la Serie de Harry Potter en caja">
              </picture>

              <div class="card__content">
                <p class="card__licence">HARRY POTTER</p>
                <h4 class="card__name">LUNA LOVEGOOD LION MASK</h3>
                <p class="card__price">$ 1.799,99 -</p>
                <p class="card__promo">3 Cuotas sin Interés</p>
              </div>

            </a>

          </article>
        </li>
        
        <li class="pagination__item">
          
          <article class="card">
            <a class="card__link" href="">

              <picture class="card__cover">
                <span class="card__tag">Nuevo</span>
                <img class="card__img--front" src="../../Api/img/star-wars/trooper-1.webp" alt="Figura Coleccionable Funko de un Stormtrooper">
                <img class="card__img--back" src="../../Api/img/star-wars/trooper-box.webp" alt="Figura Coleccionable Funko de un Stormtrooper en caja">
              </picture>

              <div class="card__content">
                <p class="card__licence">STAR WARS</p>
                <h4 class="card__name">STORMTROOPER LIGHTSABER</h3>
                <p class="card__price">$ 1.799,99 -</p>
                <p class="card__promo">3 Cuotas sin Interés</p>
              </div>

            </a>
          </article>
        </li>

        <li class="pagination__item">
          
          <article class="card">

            <a class="card__link" href="">

              <picture class="card__cover">
                <span class="card__tag">Nuevo</span>
                <img class="card__img--front" src="../../Api/img/pokemon/pidgeotto-1.webp" alt="Figura Coleccionable Funko del Pokemon Pidgeotto">
                <img class="card__img--back" src="../../Api/img/pokemon/pidgeotto-box.webp" alt="Figura Coleccionable Funko del Pokemon Pidgeotto en caja">
              </picture>

              <div class="card__content">
                <p class="card__licence">POKEMON</p>
                <h4 class="card__name">PIDGEOTTO</h3>
                <p class="card__price">$ 1.799,99 -</p>
                <p class="card__promo">3 Cuotas sin Interés</p>
              </div>

            </a>

          </article>
        </li>

        <li class="pagination__item">
          
          <article class="card">

            <a class="card__link" href="">

              <picture class="card__cover">
                <span class="card__tag">Nuevo</span>
                <img class="card__img--front" src="../../Api/img/harry-potter/luna-1.webp" alt="Figura Coleccionable Funko del Personaje Luna con Máscara de Leon en la Serie de Harry Potter">
                <img class="card__img--back" src="../../Api/img/harry-potter/luna-box.webp" alt="Figura Coleccionable Funko del Personaje Luna con Máscara de Leon en la Serie de Harry Potter en caja">
              </picture>

              <div class="card__content">
                <p class="card__licence">HARRY POTTER</p>
                <h4 class="card__name">LUNA LOVEGOOD LION MASK</h3>
                <p class="card__price">$ 1.799,99 -</p>
                <p class="card__promo">3 Cuotas sin Interés</p>
              </div>

            </a>

          </article>
        </li>          
      </ul>

      <!-- paginación -->
      <form action="" class="pagination__controls">
        <button type="button" class="pagination_button" disabled><</button>
        <button type="button" class="pagination_button active">1</button>
        <button type="button" class="pagination_button">2</button>
        <span class="pagination_button">...</span>
        <button type="button" class="pagination_button">9</button>
        <button type="button" class="pagination_button">10</button>
        <button type="button" class="pagination_button">></button>
      </form>        

    </section>

  </section>

</main>