/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/*  
  formularios
*/
.form {

}

.form fieldset { 
  border-radius: 10px;
}

/* ////////////////////////////////////////////// */
/* ////////////////////////////////////////////// */
/* 
  botones de accion
*/
.form__button {
  padding: var(--spacing-12);
  background-color: var(--primary-solid);
  color: var(--light-solid);
}

/* contenedor horizontal */
.form__row.form__buttons .form__button {
  margin-left: var(--spacing-8);
}

/* todo el ancho */
.form__button.line {
  width: 100%;
}

/* agregar */
.form__button.add {
  padding: 0;
  width: var(--font-medium);
  height: var(--font-medium);
  font-weight: 900;
  border-radius: 3px;
}

/* ////////////////////////////////////////////// */
/* ////////////////////////////////////////////// */
/* 
  controles 
*/
.form__control {
  padding: var(--spacing-8);  
  border-radius: 6px;
  background-color: var(--light-bg-solid);
  color: var(--control-value);
}

select.form__control {
  border: 2px solid var(--dark-solid);
}

/* checkbox */
.form__control[type="checkbox"] {
  border: 2px solid var(--control-border);
  width: 24px;
  height: 24px;
}

.check__item {
  display: flex;
  align-items: center;  
}

.check__item > input + .form__label {
  margin-left: .25em;
}
/* Listado de checks */
.check__list .check__item {
  margin-bottom: .5em;
}

/* archivos */
.form__control[type="file"] {
  border: 0;
}

/* Textos y Selectores */
.form__control:not([type="checkbox"],[type="radio"],[type="number"],textarea) {
  width: 20.4em;
}

textarea.form__control {
  width: 100%;
}

/* Número */
.form__control[type="number"] {
  max-width: 6em;
}

/* 
  Controlador numerico 
*/
.form__number {
  display: flex;
}
.form__number .form__control {
  max-width: 6em;
}
.form__number .number__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.form__number .number__buttons button {  
  width: 1.2em;
  height: 1.2em;
  margin-left: .5em;
  background-color: var(--dark-bg-solid);
  color: var(--light-solid);  
}

/* 
  En Vertical 
*/
.form__col {
  display: flex;
  flex-direction: column;
}
.form__col > label {    
  font-size: var(--font-large);
  padding: var(--spacing-12) 0;
}

/* 
  En horizontal
*/
.form__row {
  display: flex;
  align-items: center;
}
.form__row > .form__label {

  margin-right: .5em;
}

/*  
  Para Campos : label: input
*/
.form__field {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-16);
}

.form__field .form__label {
  font-weight: 400;
  font-size: var(--font-large);
}

.form__field .form__control {   
  margin-left: var(--spacing-8);
}
.form__field .form__control:not(select,textarea,[type="file"]){
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid var(--primary-solid);
}

.form__row .form__field {
  margin-right: var(--spacing-8);
}