
.table {
  width: 100%;
}

thead .table__item {  
  border-radius: 10px;  
}

.table__column {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--font-small);
  padding: var(--spacing-16);
}

tbody .table__item {
  border-radius: 25px;  
}

