
.table {
  width: 100%;
}

.table thead .table__item {  
  border-radius: 10px;  
}

.table__column {
  text-align: center;
  text-transform: uppercase;
  padding: var(--spacing-16);
}

.table tbody .table__item {
  border-radius: 25px;  
}

