
.cart-item {
  display: flex;
  align-items: center;
}

.cart-item__cover {
  
}

/* article */
.cart-item__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
  padding: var(--spacing-16);
}

.cart-item__licence {
  font-size: var(--font-xsmall);
  font-weight: 500; 
}
.cart-item__name {
  font-size: var(--font-medium);
  font-weight: 700;  

}
.cart-item__price {
  font-size: var(--font-small);
}

/* form */
.cart-item__add {
  font-size: var(--font-medium);
}
.cart-item__add .form__button {
  margin-left: 1em;
}

.cart-item__add .form__control {
  border: 1px solid #C9C9C9;
  text-align: center;
}

/* enlace de cuotas */
.cart-item__link {
  font-size: var(--font-xsmall);
  font-weight: 700;
  color: var(--secondary-solid);
}
