/*  
  MAIN
*/
main {
  text-align: center;
}

/* 
  FORMS 
*/
.form {
  margin: auto;
}

/* etiquetas */
.form__label {
  font-size: var(--font-large);
  font-weight: 400;
}

/* ...en checks */
.check__item .form__label {
  font-size: var(--font-medium);
}

/* botones */
.form__button {
  min-width: 103px;
  padding: var(--spacing-12);
  font-weight: 400;
  font-size: var(--font-xxsmall);
}

/* campos */
.form__field {
  justify-content: space-between;
}

/* renglones */
.form__row {
  justify-content: space-evenly;
  margin-bottom: var(--spacing-16);
}

