/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/*  
  Clases del Sitio

  Estandar de la nomenclatura BEM (block-element-modifier: bloque-elemento-modificador) para clases CSS
*/

.header,
.footer 
{
  font-family: var(--alternative-font);
  color: var(--light-solid);
  background-color: var(--dark-bg-solid);
}

/* 
  Cabecera de Página
*/
.header {
  background-color: var(--dark-bg-solid);
  /* separacion de contenido */
  padding: var(--spacing-36);
}

/* 
  Pie de Página
*/
.footer {  
  background-color: var(--dark-bg-solid);
  padding: var(--spacing-68);  
  margin-top: var(--spacing-28);
}

.footer__copy {
  text-align: center;
  margin-top: var(--spacing-36);
}

/* 
  Titulos 
*/
.title {
  display: inline-block;
  text-transform: uppercase;
  font-family: var(--alternative-font);
  font-size: var(--font-jumbo);
  font-weight: 700;
  margin: var(--spacing-36) 0;
}

/* 
  enlaces 
*/
.link {
  font-weight: 400;  
  color: var(--secondary-solid);
}

/* 
  iconos 
*/
.icon {
  width: 42px;
  height: 42px;
  background-color: transparent;
}

/* 
  valores
*/
.value {
  color: var(--control-value);
}