<footer class="footer">

  <nav class="navbar container">

    <!-- enlaces -->
    <ul class="navbar__items">
      <li class="navbar__item">
        <a class="navbar__link" href="/shop">SHOP</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/user/registro">REGISTRARSE</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/user/login">LOGIN</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/contacto">CONTACTO</a>
      </li>
    </ul>

    <!-- logo -->
    <picture>
      <img src="./public/img/branding/isotype.svg" alt="Logotipo">
    </picture>          

  </nav>

  <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>

</footer>