

    <%-include("./footer")%>

    <% if( scripts ){ %><!-- Internos -->

      <% scripts.forEach( script => { %>
        
        <script src="<%=`./js/${script}.js`%>"></script>
      <% }); %>
    <% } %>

    <!-- Externos -->

    <!-- iconos: para chevrones -->
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>    
    
    <% if( scripts_glide ){ %><!-- Habilito Glide -->
      
      <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
      <script src="https://unpkg.com/@glidejs/glide"></script>

      <% if( !scripts_glide.length || scripts_glide.includes("slider") ){ %>
        
        <!-- m3: inicializo slider de la librería Glide -->
        <script src="./js/component/slider.js"></script>
      <% } %>
    <% } %>
  </body>

</html>