  
    <!-- librería de iconos, para chevrones -->
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

    <!-- m3: importo sliders -->
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script src="https://unpkg.com/@glidejs/glide"></script>
    
    <!-- m3: inicializo slider de la librería Glide -->
    <script src="./component/slider.js"></script>

  </body>

</html>