
<!-- navbar -->
<header class="header">

  <nav class="navbar">

    <picture class="navbar__logo">

      <a href="#">

        <img src="./Api/img/branding/logo_light_horizontal.svg" alt="Logotipo con Nombre">
      </a>
    </picture>

    <ul class="navbar__menu">

      <li class="navbar__item with-submenu">

        <a class="navbar__link with-icon" href="./pages/shop/shop.html">SHOP <iconify-icon icon="tabler:chevron-down"></iconify-icon></a>
        
        <!-- menú desplegable -->
        <ul class="submenu">

          <li class="submenu__item">
            <a class="submenu__link" href="#">Funkos</a>
          </li>

          <li class="submenu__item">
            <a class="submenu__link" href="#">Remeras</a>
          </li>

          <li class="submenu__item">
            <a class="submenu__link" href="#">LLaveros</a>
          </li>
        </ul>

      </li>

      <li class="navbar__item">
        <a class="navbar__link" href="./pages/admin/contacto.html">CONTACTO</a>
      </li>

      <li class="navbar__item">
        <a class="navbar__link" href="./pages/admin/login.html">LOGIN</a>
      </li>

      <li class="navbar__item">
        <a class="navbar__cart" href="./pages/shop/cart.html">
          <img src="./Api/img/icons/cart-icon.svg" alt="ícono de carrito">
        </a>
      </li>
    </ul>

  </nav>
  
</header>
