<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home | FUNKOSHOP</title>

    <!-- Estilos Globales -->
    <link rel="stylesheet" href="./index.css">    

    <!-- Componentes -->    
    <link rel="stylesheet" href="./component/hero.css">
    <link rel="stylesheet" href="./component/card.css">
    <link rel="stylesheet" href="./component/collection.css">
    <link rel="stylesheet" href="./component/slider.css">

    <!-- Estilos propios -->
    <link rel="stylesheet" href="./index.css">
    
  </head>

  <body>